# Node
**/node_modules/
**/ca-bundle.pem

# Python
__pycache__/
.pytest_cache/
.ruff_cache/

# VS Code
**/.vscode/

*.local.*
nul

# Mill local state
**/_millhouse/
**/.mill/
**/_millhouse/config.local.yaml
